#------------------------------------------------------------------------------
# Talos
#------------------------------------------------------------------------------
kubernetes/cluster-0/bootstrap/talos/clusterconfig/talosconfig
kubernetes/cluster-0/bootstrap/talos/clusterconfig/*.yaml

#------------------------------------------------------------------------------
# Certificates
#------------------------------------------------------------------------------
*.pem
*.pub
*.key

#------------------------------------------------------------------------------
# Mac
#------------------------------------------------------------------------------
.DS_Store

#------------------------------------------------------------------------------
# SOPS
#------------------------------------------------------------------------------
*.agekey
.decrypted~*


#------------------------------------------------------------------------------
# Kubernetes
#------------------------------------------------------------------------------
kubeconfig

#------------------------------------------------------------------------------
# Terraform
#------------------------------------------------------------------------------
**/.terraform/*
*.tfstate
*.tfstate.*
.terraform.lock.hcl
*.tfvars

#------------------------------------------------------------------------------
# Python
#------------------------------------------------------------------------------
*.pytest_cache/