#------------------------------------------------------------------------------
# Talos
#------------------------------------------------------------------------------
talosconfig.sops.yaml
talosconfig
talos-talos03.bmrf.io.yaml
talos-talos02.bmrf.io.yaml
talos-talos01.bmrf.io.yaml

#------------------------------------------------------------------------------
# Certificates
#------------------------------------------------------------------------------
*.pem
*.pub
*.key

#------------------------------------------------------------------------------
# Mac
#------------------------------------------------------------------------------
.DS_Store

#------------------------------------------------------------------------------
# SOPS
#------------------------------------------------------------------------------
*.agekey
.decrypted~*

#------------------------------------------------------------------------------
# Kubernetes
#------------------------------------------------------------------------------
kubeconfig

#------------------------------------------------------------------------------
# Terraform
#------------------------------------------------------------------------------
**/.terraform/*
*.tfstate
*.tfstate.*
.terraform.lock.hcl
*.tfvars
